<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<link rel='import' href='../bower_components/iron-icons/iron-icons.html'/>
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-input/paper-textarea.html">

<dom-module id="my-reminders">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>

    <paper-dialog id="addReminderDialog">
      <paper-input id="title" label="Title" value="{{reminder.title}}"></paper-input>
      <paper-textarea id="description" label="Description" value="{{reminder.description}}"></paper-textarea>
      <paper-input id="date" label="Date" value="{{reminder.date}}"></paper-input>
      <div>
        <paper-button id="addbtn" raised on-click="_addReminder">
          Add
        </paper-button>
        <paper-button id="closebtn" raised on-click="hideReminderDialog">
          Close
        </paper-button>
      </div>
    </paper-dialog>

    <div class="card">
      <div class="circle">R</div>
      <h1>Reminders</h1>
      <paper-listbox>
        <template is="dom-repeat" items="{{ reminders }}">
          <span id="{{ item.title }}" class="flex">
            <b>Title:</b> {{ item.title }} <br>
            <b>Description:</b> {{ item.description }} <br>
            <b>Due Date:</b> {{ item.date }} <br>
            <paper-icon-button icon="delete" on-click="onDeleteReminder"></paper-icon-button>
          </span>
          <br>
        </template>
      </paper-listbox>
      <paper-button id="showdiabtn" raised on-click="showReminderDialog">Add</paper-button>
    </div>
  </template>

  <script>
    class MyReminders extends Polymer.Element {
      static get is() { return 'my-reminders'; }

      static get properties() {
        return {
          reminders: {
            type: Array,
            value: []
          },
          reminder: {
            type: Object,
            reflectToAttribute: true,
            value: {
              title: '',
              description: '',
              date: '',
              id: ''
            }
          }
        }
      }

      ready() {
        super.ready();
        // localStorage.clear();
        this.loadSavedReminders();
      }

      _addReminder() {
        this.reminder.id = this.createID();
        localStorage.setItem(this.reminder.id, JSON.stringify(this.reminder));
        this.loadSavedReminders();
        this.hideReminderDialog();
      }

      createID() {
        return Math.floor(Math.random()*100000);
      }

      showReminderDialog() {
        this.reminder = {};
        this.$.addReminderDialog.open();
      }

      loadSavedReminders() {
        let id;
        let data;
        this.reminders = [];
        for (id in localStorage) {
          data = JSON.parse(localStorage.getItem(id));
          this.reminder.title = data.title;
          this.reminder.description = data.description;
          this.reminder.date = data.date;
          this.reminder.id = data.id;
          this.push('reminders', this.reminder);
          this.reminder = {};
        }
      }
      
      onDeleteReminder(e) {
        localStorage.removeItem(e.model.item.id);
        this.loadSavedReminders();
      }
      
      hideReminderDialog() {
        this.$.addReminderDialog.close();
      }

    }

    window.customElements.define(MyReminders.is, MyReminders);
  </script>
</dom-module>
